SFQBD/Ebiz/force-app/main/default/flows/OpportunityInsertOrUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>OpportunityInsertOrUpdateFlow is to sync the opportunity with the sales order in ebizcharge gateway</description>
        <name>OpportunityInsertOrUpdateFlow</name>
        <label>OpportunityInsertOrUpdateFlow</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <actionName>OpportunityInsertOrUpdateApexFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsLockedToFalseForOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunities</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>OpportunityInsertOrUpdateFlow is to sync the opportunity with sales order on ebizcharge gateway</description>
    <interviewLabel>OpportunityInsertOrUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityInsertOrUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsLockedToFalseForOrder</name>
        <label>IsLockedToFalseForOrder</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IsLockUpdate</name>
        <label>IsLockUpdate</label>
        <locationX>201</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>OpportunityInsertOrUpdateFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsLockUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Updated_From_Gateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
