SFQBD/Ebiz/force-app/main/default/flows/OrderInsertOrUpdateApexFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OrderInsertOrUpdateApexFlow</name>
        <label>OrderInsertOrUpdateApexFlow</label>
        <locationX>507</locationX>
        <locationY>304</locationY>
        <actionName>OrderInsertOrUpdateApexFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsLockedToFalseForOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orders</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>OrderInsertOrUpdateApexFlow is to sync values of order with the ebiz charge gateway sales order</description>
    <interviewLabel>OrderInsertOrUpdateApexFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderInsertOrUpdateApexFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsLockedToFalseForOrder</name>
        <label>IsLockedToFalseForOrder</label>
        <locationX>787</locationX>
        <locationY>302</locationY>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IsLockUpdate</name>
        <label>IsLockUpdate</label>
        <locationX>167</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>OrderInsertOrUpdateApexFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>IsLockUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsUpdatedFromGateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
