SFQBD/Ebiz/force-app/main/default/flows/QuoteAfterInsetOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>QuoteAfterInsetOrUpdate is to sync the quote and there line items with the EbizCharge gateways when quote updated.</description>
        <name>QuoteAfterInsetOrUpdate</name>
        <label>QuoteAfterInsetOrUpdate</label>
        <locationX>333</locationX>
        <locationY>378</locationY>
        <actionName>QuoteUpdateApexFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsLockedToFalseForOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>QuoteAfterInsetOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteAfterInsetOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsLockedToFalseForOrder</name>
        <label>IsLockedToFalseForOrder</label>
        <locationX>552</locationX>
        <locationY>359</locationY>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>IsLockUpdate</name>
        <label>IsLockUpdate</label>
        <locationX>143</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>QuoteAfterInsetOrUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsLockUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBizCharge_IsLockedForFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Updated_From_Gateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
